body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img.logo {
  width: 100px;
  margin: 0px auto;
}
.max-w-\[156px\] {
  max-width: 138px;
}

.font-semibold.text-gray-700 {
  font-size: medium;
}
.modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;

}
.modal-content {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  max-width: 24rem;
  width: 100%;
  text-align: center;
}
.modal-header {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.modal-body {
  background-color: #f3f4f6;
  color: #6b7280;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}
.modal-footer button {
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: 100%;
}
.modal-active
{
  display: flex !important; 
}
.text-xl {
  font-size: 1rem;
  line-height: 1.75rem;
}